
/*Esquema del contenido*/

.bx2 {
    left: 422px;
    top: 666px;
}

.bx2 {
    left: 300px;
    top: 600px;
}

.bx3 {
    left: 590px;
    top: 590px;
}

.bx4 {
    left: 390px;
    top: 1000px;
}

.bx5 {
    left: 745px;
    top: 670px;
}

.bx6 {
    left: 790px;
    top: 820px;
}

.bx7 {
    left: 744px;
    top: 955px;
}

.bx8 {
    left: 586px;
    top: 1030px;
    position: absolute;
}

.bx9 {
    left: 200px;
    top: 970px;
    position: absolute;
}
.bx10 {
    left: 390px;
    top: 820px;
    position: absolute;
}

.bx11 {
    left: 430px;
    top: 670px;
    position: absolute;
}

.bx12 {
    left: 480px;
    top: 620px;
    position: absolute;
}

.box_media {
    margin-top: 1%;
}